.DS_Store
Thumbs.db

*.ts
*.log
tsconfig.json
tslint.json
.eslintrc
.eslintrc.js
.editorconfig
jest.config.js
.travis.yml
.prettierrc
.releaserc
.nycrc.json
.yarnrc.yml
cspell.json
*.lcov
yarn.lock
package-lock.json

.env.*

!*.d.ts

typings/
node_modules/
src/
examples/
build-examples/
spec/
test/
docs/
scripts/
.yarn/
.husky/
.nyc_output/
.vscode/
.github/
coverage/
