{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "JSON"
      }
    }
  ],
  "printWidth": 85,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "all"
}
